<div class="container contact-container">
  <h3>Kontakt</h3>
  <div class="row clearfix d-flex">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-5 col-print-12 d-flex align-items-center">
      Wenn Sie Fragen haben oder denken, dass ich Sie bei Ihrem Projekt unterstützen kann, schreiben Sie mir gerne eine E-Mail:
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-print-12 d-flex justify-content-center">
      <a class="align-self-center btn btn-outline-primary contact" href="mailto:{{ site.email }}?subject={{ site.email_subject }}" role="button">E-Mail senden</a>
    </div>
  </div>
</div>
