<div class="container experience-container">
  <h3>{{ site.experience_title | default: "Experience" }}</h3>
  {% for experience in site.data.experience %}
    <div class="row clearfix experience">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4 class="name">
          {%- if experience.link -%}
            {% include a.html href=experience.link %}
          {%- endif -%}
          {{ experience.company }}
          {%- if experience.link -%}
            </a>
          {%- endif -%}
          </h4>
        <p><b>{{ experience.job_title }}</b></p>
        <p>{{ experience.dates }}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if experience.quote -%}
          <p class="quote">{{ experience.quote | strip }}</p>
        {%- endif -%}
        {%- if experience.description -%}
          {{ experience.description | strip | markdownify }}
        {%- endif -%}
        
        {% for job in experience.jobs %}

          {% if forloop.first == false %}
            <div class="jobdivider"></div>
          {% endif %}

          <h2 class="job">{{ job.title }} <span class="jobdate">{{job.dates}}</span></h2>
          {%- if job.keytech -%}
            <p><b>Key Technologies:</b>&nbsp;
              {%- if job.additional_keytech == true -%}
                s.o.; zusätzlich:&nbsp;
              {%- endif -%}
              <mark>{{ job.keytech | split: ", " | join: "</mark><markdivider /><mark>" }}</mark>
            </p>
          {%- endif -%}
          <p><i>{{ job.description }}</i></p>
          <p><b>Tätigkeitsfokus:</b></p>
          <ul>
            {% for f in job.focus %}
              <li>{{ f }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
